body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #FFEBCD;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-image {
    height: 50px;
}


.navbar a {
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    text-decoration: none; 
    letter-spacing: 1px; 
    text-transform: uppercase;
}

.navbar a:hover {
    color: #ddd; 
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.topic {  
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    height: 100vh;
    z-index: 200;
    position: fixed;
    top: 0;
    padding-top: 100px;
    margin-top: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    border-right: #FFEBCD solid 4px;
}

.topic a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 18%;
    margin-bottom: 18%;
}

.topic a:first-child {
    margin-top: 120px;
}

.topic a::before {
    content: "";
    display: flex;
    width: 20px;
    height: 40px;
    margin: 0 10px;
    background-color: #DEB887;
    border-radius: 40px;
}

.hidden {
    transform: translateX(0);
}

#toggleButton {
    position: fixed;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFEBCD;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0 40% 40% 0;
    cursor: pointer;
    font-size: 24px;
    transition: left 0.5s ease-out;
}

#toggleButton::after {
    content: '<';
}

#toggleButton.hidden {
    left: 0;
}

#toggleButton.hidden::after {
    content: '>';
}

.content {
    display: flex;
    width: 80%;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.content-item img {
    width: 22%;
    height: 15vh;
    align-self: left;
    margin: 0;
}

.content-item {
    width: 45%;
    height: 35vh;
    padding: 20px;
    border: 3px solid #DEB887;
    box-sizing: border-box;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-item>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content h3 {
    font-size: 20px;
    color: #212529;
    text-align: center;
    margin: 0;
    align-self: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Максимальное количество строк */
    -webkit-box-orient: vertical;
}

.test,
.task {
    display: inline-block;
    margin-right: 10px;
}

.content p {
    font-size: 16px;
    color: #212529;
    text-align: left;
}

.skill-main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-main .skill-wrrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-main .skill-wrrap .skill-name {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.skill-main .skill-wrrap .skill-bar {
    height: 30px;
    background-color: #DEB887;
    border-radius: 8px;
    margin-top: 10px;
}

.skill-main .skill-wrrap .skill-per {
    height: 30px;
    background: #FFEBCD;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}

.skill-main .skill-wrrap .skill-per:before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #FFEBCD;
    color: black;
    font-size: 11px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-main .skill-wrrap .skill-per:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FFEBCD;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}