body {
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
    background-color: #FFEBCD;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-image {
    height: 50px;
}


.navbar a {
    color: black;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #ddd;
}


.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.hidden {
    transform: translateX(-100%);
}


.topic {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    border-right: #FFEBCD solid 4px;
    background-color: white;
}

.topic a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 18%;
    margin-bottom: 18%;
}

.topic a:first-child {
    margin-top: 120px;
}

.topic a::before {
    content: "";
    display: flex;
    width: 20px;
    height: 40px;
    margin: 0 10px;
    background-color: #DEB887;
    border-radius: 40px;
}

.hidden {
    transform: translateX(-100%);
}

#toggleButton {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFEBCD;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0 40% 40% 0;
    cursor: pointer;
    font-size: 24px;
    transition: left 0.5s ease-out;
}

#toggleButton::after {
    content: '>';
}

#toggleButton.hidden {
    left: 15%;
}

#toggleButton.hidden::after {
    content: '<';
}

.content {
    width: 50%;

}

.content h1 {
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 0 10%;
    text-align: center;

    hyphens: auto;
}

.content p {
    text-align: justify;
    padding: 0 20%;
    hyphens: auto;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container-item {
    width: 80%;
    height: auto;
    padding: 0 20px;
    padding-bottom: 30px;
    border: 3px solid #DEB887;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container-item h3 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: #DEB887 solid 3px;
}

.lesson-box {
    padding: 10px 0;
    height: 10%;
    width: 100%;
    text-align: center;
    border-bottom: #DEB887 solid 3px;
}